<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アカウント設定</title>
  <%- include('../common/head') %>
</head>
<body>
  <%- include('../common/navbar') %>
  <main>
    <div class="container">
      <h3 class="header">アカウント設定</h3>
      <form action="" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="default_author_id" type="text" class="validate" name="default_author_id" required value="<%- defaultAuthorId %>">
            <label for="default_author_id">デフォルトの著者名</label>
          </div>
        </div>
        <div class="row center">
          <button type="submit" class="btn uploadButton">設定する</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('../common/footer') %>
  <%- include('../common/scripts') %>
</body>
</html>