<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ゲストユーザー作成</title>
    <%- include('common/head') %>
    <link rel="stylesheet" href="/private/stylesheets/account/guest/create/index.css">
    <script src="/private/javascripts/account/guest/create/index.js" defer></script>
  </head>
  <body>
    <%- include('common/navbar') %>
    <main>
      <div class="container">
        <% if (typeof(guestUserId) !== "undefined" && typeof(password) !== "undefined") { %> 
          <div class="section">
            <h3 class="header">ゲストユーザーが作成されました</h3>          
            <p>
              <b class="red-text">作成されたゲストユーザーのユーザーIDおよびパスワードはこのページを離れると確認できなくなります。</b>
            </p>
            <div class="row card-panel">
              <div class="input-field col s12">
                <input readonly value="<%- guestUserId %>" id="guestUserId" type="text" class="guest active">
                <label for="guestUserId">ユーザーID</label>
              </div>
              <div class="input-field col s12">
                <input readonly value="<%- password %>" id="password" type="text" class="guest active">
                <label for="password">パスワード</label>
              </div>
            </div>
          </div>
        <% } else { %> 
          <div class="section">
            <h3 class="header">ゲストユーザーが作成できませんでした。</h3>
          </div>  
        <% } %> 
      </main>
      <%- include('common/footer') %>
      <%- include('common/scripts') %>
    </body>
  </html>
