<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アカウント</title>
  <%- include('common/head') %>
  <script src="/private/javascripts/account.js" defer></script>
</head>
<body>
  <%- include('common/navbar') %>
  <main>
    <div class="container">
      <h3 class="header">アカウント</h3>
      <div class="section">
        <h5 class="header">設定</h5>
        <form action="" method="POST" class="col s12 default_creator_id-form">
        <div class="row">
          <div class="input-field col s12">
            <input id="default_creator_id" type="text" class="validate" name="default_creator_id" required value="<%- defaultCreatorId %>" pattern="^[0-9a-z\-]+$">
            <label for="default_creator_id">デフォルトの作者ID</label>
            <span class="helper-text" data-error="数字・アルファベット小文字・ハイフンのみで入力してください" data-success="問題なし"></span>
          </div>
        </div>
        <div class="row center">
          <button type="submit" class="btn uploadButton">設定する</button>
        </div>
      </form>
    </div>
    </div>
  </main>
  <div class="modal">
    <div class="modal-content">
      <h4 class="title"></h4>
      <p class="message"></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">閉じる</a>
    </div>
  </div> 
  <%- include('common/footer') %>
  <%- include('common/scripts') %>
</body>
</html>