<!DOCTYPE html>
<html lang="ja">

<head>
  <title>HOME</title>
  <%- include('common/head') %>
</head>

<body>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a class="brand-logo center" href="https://opuappnavi.com/#/">アプリNavi</a>
    </div>
    <div class="nav-content row">
      <div class="col s11 offset-s1">
        <% const directoryParts=directory.split("/").filter((p)=> p.length > 0) %>
        <% directoryParts.forEach((value, i)=>{ %>
          <% const link=`/${directoryParts.slice(0, i + 1).join("/")}` %>
          <% if (i == directoryParts.length - 1){ %> 
            <span class="breadcrumb">
              <%- value %>
            </span>
          <% }else{ %> 
            <a class="breadcrumb" href="<%- link %>">
              <%- value %>
            </a>
          <% } %> 
        <% }) %>
      </div>
    </div>
  </nav>
  <main class="container">
    <div class="row">
      <% fileList.filter((file)=>file.name !== "..").forEach((file)=>{ %>
        <% const icon=file.stat.isDirectory() ? '<i class="fas fa-folder fa-10x"></i>'
          : '<i class="fas fa-file fa-10x"></i>' ; %>
        <div class="col s6 l3 center">
          <a href="<%- directory %><%- file.name%>">
            <div class="card hoverable">
              <div class="card-image">
                <%- icon %>
              </div>
              <span class="card-title">
                <%- file.name %>
              </span>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </main>
  <%- include('common/scripts') %>
</body>

</html>