<!DOCTYPE html>
<html lang="en">
<head>
  <title>アップロード成功</title>
  <%- include('common/head') %> 
</head>
<body>
  <%- include('common/navbar', {logout: true}) %> 
  <main>
    <div class="container">
      <h3 class="header">成功</h3>
      <p class="flow-text">ゲームのアップロードに成功しました</p>
      <ul class="collection">
        <li class="collection-item"><a href="<%= path %> ">アップロードしたゲームをプレイする</a></li>
        <li class="collection-item"><a href="/">ホームへ</a></li>
      </ul>
      
    </div>
  </main>
  <%- include('common/footer') %> 
  <%- include('common/scripts') %> 
</body>
</html>