<!DOCTYPE html>
<html lang="ja">

<head>
  <title>ユーザー一覧</title>
  <%- include('common/head') %>
</head>

<body>
  <%- include('common/navbar') %>
    <main class="container">
      <h3 class="header">ユーザー一覧</h3>
      <% (users ?? []).forEach(user=>{ %>
        <div class="card">
          <div class="card-content">
            <div>SlackのユーザーID：<%- user.userId %> </div>
            <div>デフォルトの作者ID：<%- user.defaultCreatorId ?? "未設定" %> </div>
            <div>
              最終ログイン：
              <%- include ("common/format-date", {date: user.lastLogIn}) %> 
            </div>
            <% if (user.works.length > 0) { %> 
              <ul class="collection with-header">
                <li class="collection-header"><h6>作品</h6></li>
                <% user.works.forEach(work=>{ %> 
                  <li class="collection-item"><a href="<%- urlPrefix %>/<%- work.creatorId %>/<%- work.workId %>" target="_blank"><%- work.creatorId %>/<%- work.workId %></a></li>
                <% }) %> 
              </ul>   
            <% } %> 
          </div>
        </div>
      <% }) %>
    </main>
    <%- include('common/footer') %>
      <%- include('common/scripts') %>
</body>

</html>