<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ログイン</title>
    <%- include('common/head') %>
  </head>
  <body>
    <%- include('common/navbar') %>
    <main>
      <div class="container">
        <h3 class="header">ゲストログイン</h3>
        <% if (typeof(error) !== "undefined") {%> 
          <p class="red-text"><%- error %> </p>
        <% } %> 
        <div class="row">
          <form class="col s12"  method="POST" enctype="application/x-www-form-urlencoded">
            <div class="row">
              <div class="input-field col s12">
                <input name="userId" type="text" class="validate" required>
                <label for="userId">ユーザーID</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input name="password" type="password" class="validate" required>
                <label for="password">パスワード</label>
              </div>
            </div>
            <div class="row center">
              <button type="submit" class="btn">ログイン</button>
            </div>
          </form>
        </div>
      </main>
      <%- include('common/footer') %>
      <%- include('common/scripts') %>
    </body>
  </html>
