<!DOCTYPE html>
<html lang="ja">
<head>
  <title>作品一覧</title>
  <%- include('common/head') %> 
</head>
<body>
  <%- include('common/navbar') %> 
  <main class="container">
    <h3 class="header">作品一覧</h3>
    <div class="card">
      <div class="card-content">
        <pre><%- (typeof works !== "undefined") ? JSON.stringify(works, null, 2) : "" %></pre>
      </div>
    </div>
  </main>
  <%- include('common/footer') %> 
  <%- include('common/scripts') %> 
</body>
</html>