<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ゲストユーザー</title>
    <%- include('common/head') %>
    <link rel="stylesheet" href="/private/stylesheets/account/guest/index.css">
    <script src="/private/javascripts/account/guest/index.js" defer></script>
    <script src="/private/javascripts/common/dialogs.js" defer></script>
  </head>
  <body>
    <%- include('common/navbar') %>
    <main>
      <div class="container">
        <div class="section">
          <h3 class="header">ゲストユーザーの作成</h3>
          <p>
            部員以外の人でも作品をアップロードできるように、ユーザーIDとパスワードでログインできるゲストユーザーを作成できます。
          </p>
          <p>
            ユーザーIDとパスワードは自動で生成されます。
          </p>
          <form method="POST" action="/account/guest/create">
            <button type="submit" class="btn">ゲストユーザーを作成</button>
          </form>
        </div>
        <% if(typeof(guests) !== "undefined" && guests?.length > 0) { %> 
          <div class="section">
            <h3>作成したゲストユーザー一覧</h3>
            <ul class="collection">
              <% guests.sort((a,b)=>b.createdAt - a.createdAt).forEach(guest=>{ %> 
                <li class="collection-item">
                  <div class="guest-user-container">
                    <div class="guest-user-data">
                      <p><%- guest.userId %></p>
                      <span> <%- include ("common/format-date", {date: guest.createdAt}) %>作成</span>
                    </div>
                    <div class="valign-wrapper">
                      <a href="#!" class="red-text deleteGuestButton" data-guest-id="<%- guest.userId %>"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </li>
              <% }) %> 
            </ul>
          </div>
        <% } %> 
      </main>
      <%- include('common/footer') %>
      <%- include('common/dialogs') %>
      <%- include('common/scripts') %>
    </body>
  </html>
