<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>作品一覧</title>
    <%- include('common/head') %>
  </head>
  <body>
    <%- include('common/navbar') %>
    <main class="container">
      <h3 class="header">作品一覧</h3>
      <% (works ?? []).forEach(work=>{ %>
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%- work.creatorId %>/<%- work.workId %></span>
            <div>所有者のユーザーID：<%- work.owner %> </div>
            <div>ファイルサイズ：<%- work.fileSize %>バイト</div>
            <div>
              <%- include ("common/format-date", {date: work.uploadedAt}) %>
              アップロード
            </div>
          </div>
          <div class="card-action">
            <a href="<%- urlPrefix %>/<%- work.creatorId %>/<%- work.workId %>" class="teal-text" target="_blank"><i class="material-icons left">open_in_new</i>作品へ移動</a>
          </div>
        </div>
      <% }) %>
    </main>
    <%- include('common/footer') %>
    <%- include('common/scripts') %>
  </body>
</html>
