<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ゲストユーザー追加</title>
    <%- include('common/head') %>
    <link rel="stylesheet" href="/private/stylesheets/account/guest/create/index.css">
  </head>
  <body>
    <%- include('common/navbar') %>
    <main>
      <div class="container">
        <% if (typeof(guestUserId) !== "undefined" && typeof(password) !== "undefined") { %> 
          <div class="section">
            <h3 class="header">ユーザーが作成されました</h3>          
            <p>
              <b class="red-text">作成されたゲストユーザーのユーザーIDおよびパスワードはこのページを離れると確認できなくなります。</b>
            </p>
            <div class="card-panel">
              <p>
                <span class="guest-user-label">ユーザーID</span>
                <span class="flow-text">
                  <%- guestUserId %> 
                </span>
              </p>
              <p>
                <span class="guest-user-label">パスワード</span>
                <span class="flow-text">
                  <%- password %>
                </span>
              </p>
            </div>
          </div>
        <% } else { %> 
          <div class="section">
            <h3 class="header">ゲストユーザーが作成できませんでした。</h3>
          </div>  
        <% } %> 
      </main>
      <%- include('common/footer') %>
      <%- include('common/scripts') %>
    </body>
  </html>
